/* GENERAL STYLES */
body{
    font-family: 'Noto Sans JP', sans-serif;
}

/* UTILITIES */
/* Typography */
.text-white{
    color: white;
}

.text-blue{
    color: #2485fd;
}

.text-light-grey{
    color: #d7d7d7;
}

h3{
    font-size: 25px;
    font-weight: 700;
}

/* Buttons */
.btn-outline-primary{
    background: white; 
    color: #2485fd;
    border: 1px solid #2485fd;
}
/* Margin */
.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}

/* NAV BAR */
.header-navbar .navbar{
    padding: 10px 0;
    margin-bottom: 0;
    background: white;
    border-bottom: 1px solid black;
}

.navbar-brand img {
    height: 150%;
}

/* JUMBOTRON */
.jumbotron{
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

.jumbo-left{
}

.jumbo-right{
    background: white;
    padding: 30px;
    border-radius: 20px;
}

.form-group input [type="email"]{
    height: 20px;
}

.jumbo-right .form-group btn{
    padding-top: 0;
    padding-bottom: 0;
}



