/* GENERAL STYLES */
body{
    margin: 0;
    padding: 50px 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* UTILITIES */
/* Typography */
.text-white{
    color: white;
}

.text-blue{
    color: #2485fd;
}

.text-light-grey{
    color: #b2b2b2;
}

.text-grey{
    color: #777777;
}

h2{
    font-weight: 700;
    color: #031b4e;
}

h3{
    font-size: 25px;
    font-weight: 700;
}

h4{
    font-weight: 700;
    color: #031b4e;
}

/* Buttons */
.btn-outline-primary{
    background: white; 
    color: #2485fd;
    border: 1px solid #2485fd;
}
/* Margin */
.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}
/* Background */
.bg-grey{
    background: #f3f5f9;
}

/* NAV BAR */
.topheader .navbar{
    padding: 10px 0;
    margin-bottom: 0;
}

.navbar-brand img {
    height:100%;
    margin-right: 40px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }

    .navbar-center,
    .navbar-right {
        display: none;
    }
}

/* JUMBOTRON */
.jumbotron{
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    margin-bottom: 0;
}

.jumbo-right{
    background: white;
    padding: 25px;
    border-radius: 20px;
}

.jumbo-right input{
    height: 55px;
}

.form-group button img{
    width: 20px;
}

/* PARTNER SLIDER (1 part main area) */
.partner-sliders .sliders-intro h4{
    margin: 0;
    padding: 20px;
}

.sliders-img ul li{
    display: inline-block;
    width: calc((100% / 6) - 30px);
    margin: 0 10px;
}

.sliders-img ul li img{
    max-width: 100%;
}
/* Media query for xs / sm */
@media screen and (max-width: 767px){
    .sliders-img ul li{
        display: inline-block;
        width: calc((100% / 2) - 30px);
        margin: 0 10px;
    }
/* Media query for md */
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .sliders-img ul li{
        display: inline-block;
        width: calc((100% / 3) - 30px);
        margin: 0 10px;
    }

}

/* DEPLOY AND SCALE (2 part main area) */
.deploy-and-scale-left{
    line-height: 50px;
    border-left: 1px solid #777777;
    padding-left: 10px;
}

.deploy-and-scale-left ul li a{
    color: #777777;
    text-decoration: none;
}

.deploy-and-scale-right img{
    width: 25px;
}

.deploy-and-scale-right .row .col-md-6{
    padding-bottom: 20px;
}

/* DESIGNED FOR DEVELOPERS (3part main area) */
.designed-background-container{
    text-align: center;
}
.slider-designed img{
    width: 600px;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.designed-background-container i{
    font-size: 30px;
    
}
/* Media query md */
@media screen and (max-width: 767px){
    .slider-designed img{
        width: 400px;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .designed-background-container i{
        font-size: 20px;
        
    }
}
/* Media query sm */
@media screen and (max-width: 576px){
    .slider-designed img{
        width: 300px;
        max-width: 100%;
    }
    
    .designed-background-container i{
        display: none;
        
    }
}

/* THE FEATURES 3 COL (4 part main area) */
.features-slide{
    margin-bottom: 30px;
}

.the-features-3-col a{
    text-decoration: none;
}

.the-features-3-col a i{
    margin-left: 7px;
    font-size: 10px;
    color: #2485fd;
}

/* 12 REGIONS BLUE (5 part main area) */
.regions-blue{
        background: linear-gradient(to top, #000099 0%, #0066cc 100%);
}

.regions-title h2{
    padding: 30px 0;
}
